@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Work Sans", sans-serif;
  }
}

/* Custom animations for phased entrance */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes slideInOutFromLeft {
  0% {
    transform: translateX(-5px);
    opacity: 0.2;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-5px);
    opacity: 0.2;
  }
}

@keyframes slideInOutFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

/* Utility classes with delays for phasing */
.animate-slide-in {
  animation: slideInFromLeft 0.7s ease-out forwards;
  opacity: 0; /* Start hidden */
}

.animate-slide-in-out-left {
  animation: slideInOutFromLeft 10s ease-in-out forwards;
  opacity: 0;
}

.animate-slide-in-out-right {
  animation: slideInOutFromRight 6s ease-in-out forwards;
  opacity: 0;
}

.animate-slide-out-left {
  animation: slideOutToLeft 0.7s ease-in forwards;
}

.animate-slide-out-right {
  animation: slideOutToRight 0.7s ease-in forwards;
}

.animate-fade-in-delay-1 {
  animation: fadeIn 0.7s ease-out forwards;
  /* animation-delay: 0.5s; Delay after image */
  opacity: 0;
}

.animate-fade-in-delay-2 {
  animation: fadeIn 0.7s ease-out forwards;
  animation-delay: 0.7s; /* Delay after first text */
  opacity: 0;
}
